.container
  .region-list
    %h2= @region.name
    %h4 #{@region.farms.count} farms listed for this region
    - @region.farms.each do |farm|    
      .row
        .col-sm-6 
          %h3= link_to farm.name, farm_path(farm)
          = link_to image_tag(farm.photo, width: '350')
        .col-sm-6
          .compact-farm
            %h4.heading Location
            %p= farm.address
            %h4.heading Contact
            %p Email: #{farm.email}
            %p Phone: #{farm.phone}
            %p Website: #{farm.website}
            %h4.heading Price: $#{farm.price}


