
  <ul class="nav navbar-nav">
    <li class='btn-group nav_item'>
      <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
        <h4>Choose a Region <span class='caret'></span></h4>
      <% end %>
        <ul class='dropdown-menu'>
          <% Region.all.each do |region| %>
            <li>
              <%= link_to region.name, region_path(region)%>
            </li>
          <% end %>
        </ul>
    </li>
       
    <li>   
        <div class="form-group navbar-form" role="search">
          <%= form_tag farms_search_path, :method => 'get' do %>
          <%= text_field_tag :term, nil, :class => 'search-box', :placeholder => 'Search Farms by keyword' %>
          <%= submit_tag "Search Farms", :class => 'btn' %>
          <% end %>
        </div>
    </li>
  </ul>
   
  <ul>
    <li>
      <% if logged_in? %>
         <li class='btn-group nav_item navbar-right' id='user-item'>
           <%= link_to('', class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do %>
             <%= current_user.name %>
            <span class='caret'></span>
          <% end %>
          <ul class='dropdown-menu dropdown-menu-left'>
            <li><%= link_to user_path(current_user) do %>
              <i class='icon-circle-arrow-left'></i>
              My public profile
            <% end %>
            </li>           
            <% if current_user.farmer? %>
            
            <li><%= link_to farmer_path(current_user) do %>
                 <i class='icon-circle-arrow-left'></i>
                 Dashboard
               <% end %>
               </li>
               <li><%= link_to new_farmer_farm_path do %>
                 <i class='icon-circle-arrow-left'></i>
                 Create your farm profile
               <% end %>
               </li>
            <% end %>
          <li><%= link_to logout_path do %>
            <i class='icon-circle-arrow-left'></i>
            Logout
          <% end %>
        </li>
    </ul>
    <% else %>
      <li>
        <div class='nav_item navbar-right' id='user-item'>
          <%= link_to 'Log in', login_path, class: '' %>
         </div>
     </li>
     <li>
       <div class='nav_item navbar-right' id='user-item'>
        <%= link_to 'Register', register_path %>
       </div>
     </li>
   <% end %>
  </ul>

